<!DOCTYPE html>
<html>
    <head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HangMan</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">

    </head>
    <body>

    <h1>Welcome to the HangMan!</h1>
    <strong><p>Word: {{ hidden_word }}</p></strong>
    <strong><p>Life: {{ life }}</p></strong>
    <strong><p style="color:red;">Wrong letters: {{ wrong_letters }}</p></strong>

    <form method="POST" action ="{{ url_for('play') }}">
        <label for="letter">Which letter do you want?</label>
        <input type="text" autofocus id="letra" name="letter" maxlength="1" required>
        <button type="submit">Try</button>
    </form>

    </body>
</html>
